@import 'nib'

global-reset()

.cube-list
  position: absolute
  top: 0
  left: 0
  background: #00F
  .hit
    position: absolute
    top: 0
  .hit.left
    left: 0
    background: #F00
  .hit.right
    right: 0
    background: #0F0
